.section {
	padding: 60px 0;

	&--hero-pg {
		padding-top: 75px;
		padding-bottom: 95px;
	}

	&--services-pg {
		padding-top: 120px;
	}

	&--bg {
		background: linear-gradient(20deg, #000 0%, rgb(0 0 0 / 0%) 100%),
			url('@img/hero/background.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width: 767px) {
			background: linear-gradient(194deg, #000 5.93%, rgb(0 0 0 / 0%) 100%), url('path_to_image'),
				url('@img/hero/background-phone.jpg');
			background-position: 40%;
		}
	}
}

.text {
	margin: 0;
}

.link {
	border: 1px solid var(--light-color);
	border-radius: 12px;
	padding: 15px 55px;
	background-color: var(--orange-color);
	transition: transform 0.4s;

	&:hover {
		transform: scale(0.95);
	}
}

.title {
	@include adaptive-font(42, 24);
	margin: 0;
	font-weight: 600;

	@media (min-width: 1920px) {
		font-size: 42px;
	}
}

.subtitle {
	@include adaptive-font(22, 20);
	margin: 0;
	font-weight: 500;

	@media (min-width: 1920px) {
		font-size: 23px;
	}
}

.link-blue {
	border-radius: 6px;
	padding: 10px 0;
	text-align: center;
	color: var(--light-color);
	background-color: var(--blue-color);
	transition: transform 0.4s;

	&:hover {
		transform: scale(0.95);
	}
}
