.section {
	padding: 60px 0;

	&--hero-pg {
		padding-top: 75px;
		padding-bottom: 95px;

		@media (max-width: 768px) {
			padding-top: 30px;
			padding-bottom: 65px;
		}
	}

	&--services-pg {
		padding-top: 120px;
	}

	&--bg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--hero-bg {
		background: linear-gradient(20deg, #000 0%, rgb(0 0 0 / 0%) 100%),
			url('@img/hero/background.jpg');

		@media (max-width: 767px) {
			background: linear-gradient(194deg, #000 5.93%, rgb(0 0 0 / 0%) 100%), url('path_to_image'),
				url('@img/hero/background-phone.jpg');
			background-position: 40%;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&--removed {
		@media (max-width: 768px) {
			display: none;
		}
	}

	@media (max-width: 768px) {
		padding: 25px 0;
	}
}

.text {
	margin: 0;
}

.title {
	@include adaptive-font(42, 24);
	margin: 0;
	font-weight: 600;

	@media (min-width: 1920px) {
		font-size: 42px;
	}
}

.subtitle {
	@include adaptive-font(22, 20);
	margin: 0;
	font-weight: 500;

	@media (min-width: 1920px) {
		font-size: 23px;
	}
}

.link-blue {
	border-radius: 6px;
	padding: 10px 0;
	text-align: center;
	color: var(--light-color);
	background-color: var(--blue-color);
	transition: transform 0.4s;

	&:hover {
		transform: scale(0.95);
	}
}

.bid {
	border-radius: 12px;
	padding: 55px 35px;
	width: 100%;
	background: linear-gradient(180deg, rgb(3 82 161 / 20%) 100%), url('@img/request/background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 610px;
	}

	&__title {
		margin-bottom: 45px;
		color: var(--light-color);

		@media (max-width: 768px) {
			margin-bottom: 15px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 35px;
		width: 100%;
		max-width: 425px;
		gap: 10px;

		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__item {
		padding-left: 50px;
	}

	&__text {
		@include adaptive-font(18, 14);
		position: relative;
		color: var(--light-color);

		&::before {
			content: '';
			position: absolute;
			left: -50px;
			top: 50%;
			width: 35px;
			height: 35px;
			background-image: url('@img/icons/sprite.svg#bid-check');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transform: translateY(-50%);
		}
	}

	@media (max-width: 768px) {
		padding: 25px 15px 25px 10px;
		background: url('@img/request/background-768.jpg'),
			linear-gradient(180deg, rgb(22 82 142 / 100%) 100%);
		background-position: left;
		background-repeat: no-repeat;
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	max-width: 515px;

	&__inner {
		display: flex;
		margin-bottom: 15px;
		width: 100%;
		gap: 15px;

		@media (max-width: 576px) {
			flex-direction: column;
		}
	}

	&__input-tel {
		border-radius: 12px;
		padding: 15px 50px;
		max-width: 250px;

		&::placeholder {
			font-weight: 400;
			font-size: 18px;
			color: var(--blue-color);
			opacity: 0.4;
		}

		&:focus {
			outline: none;
		}
	}

	&__btn {
		border-radius: 12px;
		padding: 15px 0;
		width: 100%;
		max-width: 250px;
		text-align: center;
		color: var(--light-color);
		background-color: var(--orange-color);
		transition: transform 0.4s;

		&:hover {
			transform: scale(0.95);
		}
	}

	&__inner-policy {
		display: flex;
		width: 100%;
		max-width: 470px;
	}

	&__checkbox {
		appearance: none;
		position: relative;
		flex-shrink: 0;
		margin-right: 15px;
		border: 1px solid var(--light-color);
		width: 20px;
		height: 20px;
		cursor: pointer;

		&:checked {
			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: 13.5px;
				height: 13.5px;
				background-image: url('@img/icons/sprite.svg#check-checkbox');
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__policy {
		font-weight: 400;
		font-size: 12px;
		color: var(--silver-color);
		cursor: pointer;
	}
}
