// * Максимальная ширина макета
$container-width: 1280;

:root {
	// * Colors
	--light-color: #fff;
	--mine-shaft-color: #333;
	--mine-color: #222;
	--orange-color: #ff6c1e;
	--concrete-color: #f3f3f3;
	--blue-color: #0a4b8c;
	--endeavour-color: #0352a1;
	--silver-color: #bdbdbd;
	--gray-color: #828282;
	--mariner-color: #226fbf;
	--main-font: roboto, sans-serif;
}
