.hero {
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 650px;
		color: var(--light-color);
	}

	&__title {
		@include adaptive-font(40, 25);
		margin: 0;
		margin-bottom: 40px;
		font-weight: 700;
		text-transform: uppercase;

		@media (min-width: 1920px) {
			font-size: 40px;
		}

		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}

	&__text {
		margin-bottom: 40px;

		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
	}

	&__link {
		margin-bottom: 50px;
		border: 1px solid var(--light-color);
		border-radius: 12px;
		padding: 20px 0;
		width: 100%;
		max-width: 445px;
		text-align: center;
		background-color: var(--orange-color);
		transition: transform 0.4s;

		&:hover {
			transform: scale(0.95);
		}

		@media (max-width: 767px) {
			padding: 15px 0;
		}
	}
}

.guarantees {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 625px;

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
		padding-left: 55px;
		min-height: 35px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__text {
		position: relative;
		font-size: 16px;

		&::after {
			content: '';
			position: absolute;
			left: -55px;
			top: 50%;
			width: 35px;
			height: 35px;
			background-image: url('@img/icons/sprite.svg#check');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transform: translateY(-50%);
		}

		@media (max-width: 575px) {
			font-size: 14px;
		}
	}
}
